@model IEnumerable<ApplicationCore.Entities.Product>

@{
    ViewBag.Title = "Product Table";
    Layout = "_Layout";
}

<div class="container">
    <div class="row mt-lg-5 mb-5">
        <h3 class="col-8">Product Table:</h3>
        <a type="button" class="btn btn-success col-xl-2" asp-controller="Product" asp-action="Create"> Add Product</a>
    </div>
    <div class="row mb-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Category</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
        
                @{
                    int count = 0;
                }
                @foreach (var elem in Model)
                {
                    count++;
                    <tr>
                        <th>@count</th>
                        <td>@elem.ProductId</td>
                        <td>@elem.ProductName</td>
                        <td>@elem.ProductPrice</td>
                        <td>@elem.Category</td>
                        <td><a type="button" class="btn btn-info">Edit</a></td>
                        <td><a type="button" class="btn btn-danger" asp-controller="Product" asp-action="DeleteById" asp-route-Id="@elem.ProductId">Delete</a></td>
                    </tr>
                }
                </tbody>
            </table>
    </div>
</div>